.navbar-style{
  background-color: rgb(218, 192, 159);
}
.logo-img-style{
  height:60px;
  width:60px;
}
.logo-text-style{
margin:-21px 0px 0px 50px;
}
*{
 font-family:'Times New Roman', Times, serif ;
}